@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Ruda:wght@400..900&display=swap");
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Ruda",serif;
}

.header {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    z-index: 10;

    .logo {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            border: none;
        }
    }

    .menu {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-media {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}



.pizza-div {
    margin-top: 50px;
    padding-top: 50px;
    background-image: url("https://media.istockphoto.com/id/938742222/photo/cheesy-pepperoni-pizza.jpg?s=612x612&w=0&k=20&c=D1z4xPCs-qQIZyUqRcHrnsJSJy_YbUD9udOrXpilNpI=");
    background-size: cover;
    height: 400px;

    background-repeat: no-repeat;
    background-color: wheat;
}

.pizza-description {
    padding: 50px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

.red-line {
    width: 100%;
    height: 5px;
    background-color: red;
}

.main-container {
    margin: 20px 150px 0px 150px;
}

.title {

    display: flex;
    justify-content: center;

    h1 {
        border-bottom: 5px solid red;
        width: 300px;
        text-align: center;
    }

}

.about-us {
    width: 100%;
    height: auto;
    margin-top: 20px;

    .content {
        display: flex;
        justify-content: space-between;

        p {
            width: 30%;
        }

        img {
            width: 30%;
            height: 200px;
        }
    }
}

.menu {
    height: auto;
    width: 100%;


    .menu-description {
        display: flex;
        justify-content: space-between;

    }
}

.menu-catalog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;

    .item {
        width: 50%;
        display: flex;
        column-gap: 10px;
    }

    img {
        width: 100%;
        height: 200px;
        display: inline;
    }

    .item {
        .menu-item-desc {
            h3 {
                color: gold;
            }
        }
    }
}

.carousel {
    margin-top: 20px;
    height: auto;
    width: 100%;
   position: relative;
   .left-arrow{
    position: absolute;
    top:50%;
    margin-left: -50px;
    font-size: 40px;
    cursor: pointer;
   }
   .right-arrow{
    position: absolute;
    top:50%;
    right:0px;
    margin-right: -50px;
    font-size: 40px;
    cursor: pointer;
   }
    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 20px;
        
    }
    .dots{
        width: 100%;
        margin-top: 10px;
        text-align: center;
        span{
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    img {
        width: 100%;
        height: 400px;
    }
}
.gallery1{
    margin-top: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: 6fr 2fr 4fr; 
    grid-template-rows: repeat(3, 100px); 
    gap: 10px;
    height: 300px;
    width: 100%;
    
  }
  
  .box1 {
    grid-column: 1;
    grid-row: 1 / span 3; 
  }
  
  .box2 { grid-column: 2; grid-row: 1; }
  .box3 { grid-column: 2; grid-row: 2; }
  .box4 { grid-column: 2; grid-row: 3; }
  
  .box5 { grid-column: 3; grid-row: 1 / span 2; } 
  
  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .find-us {
    margin-top: 20px;
    height: 400px; 
    width: 100%;
}

.find-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px; /* Fixed row height */
    gap: 10px;
    width: 100%;
    height: 300px;
}


 .row-0 {
    grid-column:1;
    grid-row:1;
    
}

 .row-1 {
    grid-column: 1;
    grid-row: 2;
    
}

 .row-22 {
    grid-column: 1;
    grid-row: 3;
    
}

.column2 {
    grid-row: 1 / span 3;  /* Span across all 3 rows */
    grid-column: 2; /* Place in the second column */
    width: 100%;
    height: 100%; /* Ensure height is 100% of the container */
    overflow: hidden; /* Hide overflow */
}

.column2 img {
    width: 100%; /* Ensure it fills the container width */
    height: 100%; /* Ensure it takes 100% of the height */
    object-fit: cover; /* Make sure it covers the area */
    display: block; /* Prevent inline element behavior */
}

.contact-us{
    margin-top: 50px;
    height: 300px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
@media (max-width: 600px){
  .header{
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    .logo{
        width: 40%;
        margin-left: 10px;
    }
    .social-media{
        width: 30%;
        
    }
    .fa{
        font-size: 18px !important;
    }
    .menu{
        display: none
    }
  }
  .main-container{
    margin:20px 10px 0 10px;
    overflow-x: hidden;
    
    .about-us .content{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        p{
            width: 100%;
        }
        img{
            width: 100%;
        }
           
    }
    
  }
  .pizza-description{
    width: auto;
  }
  .menu-catalog{
    display: flex;
    flex-direction: column;
    .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }
  }
  .left-arrow{
    position: absolute;
    top:50%;
    margin-left: 0px !important;
    font-size: 40px;
    cursor: pointer;
   }
   .right-arrow{
    position: absolute;
    top:50%;
    right:0px;
    margin-right: 0px !important;
    font-size: 40px;
    cursor: pointer;
   }
   .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3, 100px); 
    gap: 10px;
    height: 300px;
    width: 100%; 
  }
  .box1 {
    grid-column: 1;
    grid-row: 1 ; 
  }
  
  .box2 { grid-column: 1; grid-row: 2; }
  .box3 { grid-column: 1; grid-row: 3; }
  .box4 { grid-column: 2; grid-row: 1; }
  
  .box5 { grid-column: 2; grid-row: 2; } 
  .box6{
    grid-column: 2; grid-row: 3;
  }
  
  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .find-us-content {
    display: flex;
    flex-direction: column-reverse;
    height:auto;
}
.contact-us{
    .fa{
        font-size: 30px !important;
    }
    
}
}

  
  
  
  
  